.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container{
        position: relative;
    }

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: #000;
        opacity: 0.7;
    }

    &__text{
        margin: 64px 0;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
        font-weight: 900;
    }

    &__logo{
        display: block;
        margin: 0 auto;
        height: 80px;
    }

    @media (max-width: 640px){
        padding: 40px 0;

        &__logo{
            height: 40px;
        }

        &__text{
            line-height: 24px;
            font-size: 20px;
            margin: 24px 0;
        }
    }
}